name: Build and Convert Filters

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "30 22 * * *"

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Set build time
        run: echo "BUILDTIME=$(TZ=Asia/Shanghai date +'%Y-%m-%d %H:%M')" >> $GITHUB_ENV

      - name: Install pip dependencie
        run: pip install requests

      - name: Install sing-box
        run: curl -fsSL https://sing-box.app/install.sh | sh -s -- --beta

      - name: Run merge rules script
        run: python run.py

      - name: Convert rules to srs
        run: sing-box rule-set convert --type adguard merged_rules.txt --output geosite-dnsblock.srs

      - name: Commit and push srs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add geosite-dnsblock.srs
          git commit -m "Released on ${{ env.BUILDTIME }}" || echo "No changes"
          git push
